---
import Layout from "../layouts/Layout.astro"
const branches = [
  {
    address: "51,GIN FACTORY ROAD,THOOTHUKUDI-628002.",
    dlNo: "TNT/182/20,21",
    branch: 1,
    phoneNo: "0461 2383702, 91500 12971",
    email: "vmgfroad@gmail.com"
  },
  {
    address: "49,TELEGRAPH OFFICE ROAD,THOOTHUKUDI-628002.",
    dlNo: "TNT/358/20,21",
    branch: 2,
    phoneNo: "0461 2337725, 91500 12972",
    email: "vmtgroad@gmail.com"
  },
  {
    address: "115/8, DEVARPURAM ROAD,THOOTHUKUDI-628002.",
    dlNo: "TNT/278/20,21",
    branch: 3,
    phoneNo: "0461 2333725, 91500 12970",
    email: "vmdproad@gmail.com"
  },
  {
    address: "114B/2,3,4,5 ETTAYAPURAM ROAD,THOOTHUKUDI-628002.",
    dlNo: "TNT/391/20,21",
    branch: 4,
    phoneNo: "0461 2347223, 91500 12975",
    email: "vmeproad@gmail.com",
  },
  {
    address: "60,C2D NORTH FACING FLOOR, POOBALARAYAPURAM,THOOTHUKUDI-628001.",
    dlNo: "TN/TUT20/00592",
    branch: 5,
    phoneNo: "73050 12976",
    email: "vmplpoobalarayapuram@gmail.com"
  },
  {
    address: "52C/13,14 SN HIGH ROAD,TIRUNELVELI-628002.",
    dlNo: "TNY/3533/20,21",
    branch: 6,
    phoneNo: "0462 4971701, 91500 12973",
    email: "vmsnroad@gmail.com"
  }
];
---

<Layout title="Velavan Medical | branches"
  description="Our branches."
>
    <section class="pt-8 pb-8 md:pt-22 md:pb-22">
    <div class="container-custom">
      <div class="text-center max-w-3xl mx-auto animate-on-scroll">
        <h1 class="text-gray-900 text-4xl md:text-5xl font-bold leading-tight">
          Our Branches
        </h1>
      </div>
    </div>
  </section>

  <section class="md:py-4 sm:py-2 lg:py-8 bg-gradient-to-b from-white to-gray relative overflow-hidden">  
  <div class="container-custom relative">    
    <div class="mt-6 p-2 grid grid-cols-1 md:grid-cols-3 gap-8">
      {branches.map((branch, index) => (
        <div class="branch-card p-6 rounded-xl shadow-lg overflow-auto">
          <h3 class="text-lg text-center text-red font-semibold">Branch {branch.branch}</h3>
          <p><b>Address: </b>{branch.address}</p>
          <p><b>DL No: </b>{branch.dlNo}</p>
          <p><b>Phone No: </b>{branch.phoneNo}</p>
          <p><b>Email: </b>{branch.email}</p>
        </div>
      ))}
    </div>
  </div>
</section>
</Layout>