---
import { Image } from 'astro:assets';

const companyLinks = [
  { name: 'Home', href: '/index' },
  { name: 'About Us', href: '/about-us' },
  { name: 'Gallery', href: '/gallery' },
  { name: 'Contact Us', href: '/contact' },
  { name: 'Staff Login', href: '/staff-login' },
];

const resourceLinks = [
  { name: 'Documentation', href: '/documentation' },
  { name: 'API Reference', href: '/documentation/api-reference' },
  { name: 'Tutorials', href: '/tutorials' },
  { name: 'Case Studies', href: '/case-studies' },
];

const legalLinks = [
  { name: 'Privacy Policy', href: '/privacy-policy' },
  // { name: 'Terms of Use', href: '/terms-of-use' },
];

const foodItems = [
  "Horlicks","Enfamil","Ensure","Mama protienx","Lactodex","Lactogen"
];

const veterinaryItems = [
  "Pedigree","Drools","Purepet","Royal Canin","Smart Heart","Me O"
];

const equipments = [
  "Wheel Chair","Commode","Walker","Walking Stick","Patient bed"
];

const ayurvedicItems = [
  "Prasava Legiyam","Thuthuvalai Legiyam","Karunai Legiyam","Kanda Kathari","Nellikai","Thiripala Suranam"
];

const covid19Items = [
  "Mask","Sanitizer","Sanitizer Stand","PPE Kit","Fabiflu 400"
];

---

<!-- <footer class="bg-gray-900 text-white pt-16 pb-8 relative overflow-hidden"> -->
<footer class="bg-white/80  backdrop-blur-md border-gray-400 border-2 pt-16 pb-8 relative ">
    
  <div class="container-custom relative"> 
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-7 gap-8 pb-12 border-b border-gray-800">
      <div class="lg:col-span-2">

        <a
          href="/"
          class="inline-block transition-transform duration-300 hover:scale-105 group bg-white rounded-xl overflow-hidden p-1 relative"
          style="width: 100px; height: 56px;"
          aria-label="Velavan medical home"
        >
          <div class="group-hover:opacity-100 transition-opacity duration-300 rounded-xl z-0"></div>
          <Image
            src='/logo.png' 
            alt="Velavan Medical"
            width={90}
            height={20}
            class="relative z-10 mx-auto"
          />
        </a>
        
        <p class="mt-4 text-gray-900 max-w-md">
          Velavan Medical
        </p>
        <p class="mt-4 text-gray-900 max-w-md">
          37, Shop No:1, Thambaiah Reddy<br> Road Extension, West Mambalam,
          <br>Chennai - 600 033.
        </p>
        <p class="mt-4 text-gray-900 max-w-md">
          <br>044 - 3500 1063
          <br>+91 89460 46118
        </p>
        <p class="mt-4 text-gray-900 max-w-md">
          vmplwestmambalam@gmail.com
        </p>
        
      </div>
      
      <div>
        <h3 class="text-lg  font-semibold mb-4 text-gray-900 hover:text-red transition-colors duration-300">Food Items</h3>
        <ul class="space-y-3">
          {foodItems.map((item) => (
            <li class="transform transition-all duration-300 hover:translate-x-1">
              <p 
                class="text-gray-900 hover:text-red transition-colors duration-300 inline-block"
              >
                {item}
              </p>
            </li>
          ))}
        </ul>
      </div>

      <div>
        <h3 class="text-lg  font-semibold mb-4 text-gray-900 hover:text-red transition-colors duration-300">Veterinary Thing</h3>
        <ul class="space-y-3">
          {veterinaryItems.map((item) => (
            <li class="transform transition-all duration-300 hover:translate-x-1">
              <p 
                class="text-gray-900 hover:text-red transition-colors duration-300 inline-block"
              >
                {item}
              </p>
            </li>
          ))}
        </ul>
      </div>

      <div>
        <h3 class="text-lg  font-semibold mb-4 text-gray-900 hover:text-red transition-colors duration-300">Equipments</h3>
        <ul class="space-y-3">
          {equipments.map((item) => (
            <li class="transform transition-all duration-300 hover:translate-x-1">
              <p 
                class="text-gray-900 hover:text-red transition-colors duration-300 inline-block"
              >
                {item}
              </p>
            </li>
          ))}
        </ul>
      </div>

      <div>
        <h3 class="text-lg  font-semibold mb-4 text-gray-900 hover:text-red transition-colors duration-300">Ayurvedic</h3>
        <ul class="space-y-3">
          {ayurvedicItems.map((item) => (
            <li class="transform transition-all duration-300 hover:translate-x-1">
              <p 
                class="text-gray-900 hover:text-red transition-colors duration-300 inline-block"
              >
                {item}
              </p>
            </li>
          ))}
        </ul>
      </div>

      <div>
        <h3 class="text-lg  font-semibold mb-4 text-gray-900 hover:text-red transition-colors duration-300">Covid 19</h3>
        <ul class="space-y-3">
          {covid19Items.map((item) => (
            <li class="transform transition-all duration-300 hover:translate-x-1">
              <p 
                class="text-gray-900 hover:text-red transition-colors duration-300 inline-block"
              >
                {item}
              </p>
            </li>
          ))}
        </ul>
      </div>

    </div>

    <div class="w-full flex justify-center pb-12 pt-10 border-b border-gray-800">
        <ul class="flex flex-wrap justify-center gap-x-6 gap-y-2">
          {companyLinks.map((link, index) => (
            <li class="transform transition-all duration-300 hover:translate-x-1">
              <a 
                href={link.href} 
                class="text-gray-900 hover:text-red transition-colors duration-300 inline-block"
                style={`transition-delay: ${index * 50}ms;`}
              >
                {link.name}
              </a>
            </li>
          ))}
        </ul>
      </div>
            

    </div>
    
    <div class="pt-8 text-center text-gray-900 text-sm">
      <p class="hover:text-red transition-colors duration-300">&copy; {new Date().getFullYear()} Velavan Medicals. All Rights Reserved. Designed by Auditplus.</p>
    </div>
  </div>
</footer>
