---
import { Image } from 'astro:assets';


const foodItems = [
  "Horlicks","Enfamil","Ensure","Mama protienx","Lactodex","Lactogen"
];

const veterinaryItems = [
  "Pedigree","Drools","Purepet","Royal Canin","Smart Heart","Me O"
];

const equipments = [
  "Wheel Chair","Commode","Walker","Walking Stick","Patient bed"
];

const ayurvedicItems = [
  "Prasava Legiyam","Thuthuvalai Legiyam","Karunai Legiyam","Kanda Kathari","Nellikai","Thiripala Suranam"
];

const covid19Items = [
  "Mask","Sanitizer","Sanitizer Stand","PPE Kit","Fabiflu 400"
];

---

<footer class="bg-beige  backdrop-blur-md border-gray-400 border-2 pt-16 pb-8 relative ">
    <div class="absolute inset-0 opacity-5 parallax" data-speed="0.2">
    <div class="absolute inset-0 bg-repeat" style="background-image: url('/dot-pattern.png');"></div>
  </div>
  <div class="p-10"> 
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-7 gap-8 pb-12 border-b border-gray-800">
      <div class="lg:col-span-2">

        <a
          href="/"
          class="inline-block transition-transform duration-300 hover:scale-105 group rounded-xl overflow-hidden p-1 relative"
          aria-label="Velavan medical home"
        >
          <div class="group-hover:opacity-100 transition-opacity duration-300 rounded-xl z-0"></div>
          <Image
            src='/logo.png' 
            alt="Velavan Medical"
            width={240}
            height={50}
            class="relative z-10 mx-auto"
          />
        </a>
        
        <p class="lg:text-xl  font-semibold mt-4 text-blue max-w-md">
          Velavan Medical
        </p>
        <p class="mt-4 text-gray-900 max-w-md">
          37, Shop No:1, Thambaiah Reddy<br> Road Extension, West Mambalam,
          <br>Chennai - 600 033.
        </p>
        <p class="mt-4 text-gray-900 max-w-md">
          <br>044 - 3500 1063
          <br>+91 89460 46118
        </p>
        <p class="mt-4 text-gray-900 max-w-md">
          vmplwestmambalam@gmail.com
        </p>
        
      </div>
      
      <div>
        <h3 class="text-lg font-semibold mb-4 text-blue hover:text-blue transition-colors duration-300">Food Items</h3>
        <ul class="space-y-3 ">
          {foodItems.map((item) => (
            <li class="transform transition-all duration-300 hover:translate-x-1">
              <p 
                class="text-gray-900 hover:text-blue transition-colors duration-300 inline-block"
              >
                {item}
              </p>
            </li>
          ))}
        </ul>
      </div>

      <div>
        <h3 class="text-lg  font-semibold mb-4 text-blue hover:text-blue transition-colors duration-300">Veterinary Thing</h3>
        <ul class="space-y-3">
          {veterinaryItems.map((item) => (
            <li class="transform transition-all duration-300 hover:translate-x-1">
              <p 
                class="text-gray-900 hover:text-blue transition-colors duration-300 inline-block"
              >
                {item}
              </p>
            </li>
          ))}
        </ul>
      </div>

      <div>
        <h3 class="text-lg  font-semibold mb-4 text-blue hover:text-blue transition-colors duration-300">Equipments</h3>
        <ul class="space-y-3">
          {equipments.map((item) => (
            <li class="transform transition-all duration-300 hover:translate-x-1">
              <p 
                class="text-gray-900 hover:text-blue transition-colors duration-300 inline-block"
              >
                {item}
              </p>
            </li>
          ))}
        </ul>
      </div>

      <div>
        <h3 class="text-lg  font-semibold mb-4 text-blue hover:text-blue transition-colors duration-300">Ayurvedic</h3>
        <ul class="space-y-3">
          {ayurvedicItems.map((item) => (
            <li class="transform transition-all duration-300 hover:translate-x-1">
              <p 
                class="text-gray-900 hover:text-blue transition-colors duration-300 inline-block"
              >
                {item}
              </p>
            </li>
          ))}
        </ul>
      </div>

      <div>
        <h3 class="text-lg  font-semibold mb-4 text-blue hover:text-blue transition-colors duration-300">Covid 19</h3>
        <ul class="space-y-3">
          {covid19Items.map((item) => (
            <li class="transform transition-all duration-300 hover:translate-x-1">
              <p 
                class="text-gray-900 hover:text-blue transition-colors duration-300 inline-block"
              >
                {item}
              </p>
            </li>
          ))}
        </ul>
      </div>

    </div>
            

    </div>
    
    <div class="pt-8 text-center text-gray-900 text-sm">
      <p class="hover:text-blue transition-colors duration-300">&copy; {new Date().getFullYear()} Velavan Medicals. All Rights Reserved. Designed by Auditplus.</p>
    </div>
  </div>
</footer>
